.heading {
  width: fit-content;
  font-size: 2rem;
  border-bottom: 3px solid green;
  text-transform: capitalize;
}

.description {
  font-size: 50px;
  color: rgb(2, 71, 2);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  border-radius: 10px;
}

.service:hover .media {
  transform: scale(1.1);
}
.service:hover .serviceDesc {
  opacity: 1;
}

.serviceName {
  position: absolute;
  top: 10px;
  left: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: gray;
}

.serviceDesc {
  width: 70%;
  text-align: center;
  position: absolute;
  background-color: rgba(192, 189, 189, 0.582);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
  transition: all 1s ease;
}

.media {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  transition: 1s;
}

@media (max-width: 768px) {
  .media {
    width: 300px;
    height: 300px;
  }
}
